# Documentation dependencies
mkdocs==1.6.1
mkdocs-material==9.7.1
mkdocs-gen-files==0.6.0
mkdocs-literate-nav==0.6.2
mkdocs-section-index==0.3.10
pymdown-extensions==10.19.1
mkdocs-swagger-ui-tag==0.7.2
mkdocs-mermaid2-plugin==1.2.3
